*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-backface-visibility: hidden; }

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Lato', sans-serif; }

body {
  width: 100%; }

.container {
  display: grid;
  grid-gap: 0;
  width: 100%;
  flex-direction: column;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 100vh 100vh auto minmax(50vh, auto) 20vh;
  overflow-x: hidden; }

.header-container {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  grid-column: 4/6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.underline {
  width: 6rem;
  height: .4rem;
  margin-top: 1rem;
  background-color: black; }

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;
  margin-top: 7rem; }
  .headerContainer-header {
    font-size: 2.6rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    color: #012739; }
  .headerContainer-headersmall {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 500; }

.active {
  color: red; }

@media (min-width: 485px) and (max-width: 1024px) {
  .headerContainer-header {
    font-size: 3rem; }
  .headerContainer-headersmall {
    font-size: 1.8rem; } }

@media (max-width: 485px) {
  .headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem 1rem 5rem 1rem; }
    .headerContainer-header {
      font-size: 2.2rem; }
    .headerContainer-headersmall {
      font-size: 1rem; } }

.home {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url(../img/bgc8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1/2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed; }
  .home__header-container-big {
    color: white;
    font-size: 5.5rem;
    font-weight: 300; }

.about {
  scroll-behavior: smooth;
  maxheight: 150vh;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  grid-column: 1/-1;
  background-color: #EDEDF0;
  border-bottom: 2px solid #e4e4e4;
  border-top: 2px solid black; }
  .about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; }
    .about__container-imgcontainer {
      position: relative;
      width: 50vh;
      height: 40vh; }
      .about__container-imgcontainer:hover img {
        transform: translateY(0); }
      .about__container-imgcontainer img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: .4s ease; }
      .about__container-imgcontainer .image1 {
        clip-path: polygon(0 0, 25% 0, 25% 100%, 0 100%);
        transform: translateY(-10px); }
      .about__container-imgcontainer .image2 {
        clip-path: polygon(25% 0, 50% 0, 50% 100%, 25% 100%);
        transform: translateY(10px); }
      .about__container-imgcontainer .image3 {
        clip-path: polygon(50% 0, 75% 0, 75% 100%, 50% 100%);
        transform: translateY(-10px); }
      .about__container-imgcontainer .image4 {
        clip-path: polygon(75% 0, 100% 0, 100% 100%, 75% 100%);
        transform: translateY(10px); }
    .about__container-textcontainer {
      grid-column: 2/8;
      grid-row: 3/4;
      height: auto;
      margin-top: 5rem;
      max-width: 70rem; }
      .about__container-textcontainer p {
        text-align: center;
        font-size: 1.6rem;
        letter-spacing: .1rem;
        color: #333; }
    .about__container-mediacontainer {
      grid-row: 4/5;
      grid-column: 3/7;
      display: flex;
      margin-top: 5rem;
      width: 30rem;
      flex-direction: row;
      align-items: center;
      justify-content: space-around; }
      .about__container-mediacontainer a {
        color: black;
        font-size: 3rem;
        transition: .4s; }
        .about__container-mediacontainer a:hover {
          color: #374453; }
    .about__container__skills {
      grid-column: 5/-1;
      background-color: #EEEEEE;
      height: 100%; }

@media (max-width: 485px) {
  .about__container-imgcontainer {
    width: 80%; }
  .about__container-textcontainer {
    margin: 4.5rem 2.5rem 0 2.5rem; }
  .about__container-mediacontainer {
    margin-bottom: 2rem; } }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  height: 5rem;
  z-index: 100;
  align-items: center; }
  .navbar__burger {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    z-index: 99; }
    .navbar__burger i {
      font-size: 3.5rem;
      line-height: 5rem;
      color: white; }
  .navbar__burger.active .line2 {
    transform: translateX(-50px);
    background: transparent; }
  .navbar__burger.active .line1 {
    transform: rotate(45deg) translate(35px, -35px); }
  .navbar__burger.active .line3 {
    transform: rotate(-45deg) translate(35px, 35px); }
  .navbar__menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -100vh;
    height: 100vh;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    width: 100%;
    transition: transform 1s; }
    .navbar__menu-item {
      list-style: none; }
      .navbar__menu-item-link {
        text-decoration: none;
        color: white;
        font-size: 2rem;
        letter-spacing: 0.5rem;
        text-transform: uppercase;
        font-weight: 500; }

@media (min-width: 688px) {
  .navbar {
    justify-content: flex-start; }
  .navbar__burger {
    display: none; }
  .navbar__menu {
    flex-direction: row;
    background-color: transparent;
    position: absolute;
    top: 0;
    height: 100%; } }

.open {
  top: 0; }

.skills {
  grid-column: 1/-1;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  scroll-behavior: smooth; }
  .skills__container {
    display: grid;
    min-height: 60%;
    width: 70%;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 3rem; }
    .skills__container-skill {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%; }
      .skills__container-skill-icon i {
        font-size: 6rem;
        color: #04ADB8; }
      .skills__container-skill-header {
        margin-top: 1rem; }
        .skills__container-skill-header h3 {
          font-size: 2rem;
          font-weight: 500; }
      .skills__container-skill-text {
        margin-top: 3rem; }
        .skills__container-skill-text p {
          font-size: 1.6rem;
          text-align: center;
          color: #012739; }

@media (min-width: 400px) and (max-width: 1024px) {
  .skills__container {
    grid-template-columns: 1fr 1fr;
    width: 90%; }
    .skills__container-skill:nth-child(6) {
      margin-bottom: 2rem; }
    .skills__container-skill:nth-child(5) {
      margin-bottom: 2rem; } }

@media (max-width: 400px) {
  .skills__container {
    grid-template-columns: 1fr;
    gap: 5rem;
    width: 90%; }
    .skills__container-skill {
      width: 100%; }
      .skills__container-skill-text {
        margin-top: 1rem; }
      .skills__container-skill:nth-child(6) {
        margin-bottom: 2rem; } }

.projects {
  grid-column: 1/-1;
  background-color: #EDEDF0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  scroll-behavior: smooth;
  border-top: 2px solid #e4e4e4;
  border-bottom: 2px solid #e4e4e4; }
  .projects__container {
    min-width: 40vh;
    max-width: 150vh;
    min-height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10rem; }
    .projects__container-menu {
      display: flex;
      flex-direction: row;
      grid-column: 1/-1;
      grid-row: 1/2;
      width: 80%;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 2rem; }
      .projects__container-menu-item {
        font-size: 2rem;
        cursor: pointer;
        text-transform: uppercase; }
    .projects__container-project {
      height: 40vh;
      width: 50vh;
      color: white;
      text-align: center;
      position: relative;
      transition: .4s; }
      .projects__container-project img {
        height: 100%;
        width: 100%;
        transition: .4s;
        opacity: 1; }
      .projects__container-project:hover img {
        opacity: 0; }
      .projects__container-project:hover .projects__container-project-text {
        transform: translate(-50%, 5rem);
        z-index: 2;
        color: black; }
      .projects__container-project:hover .projects__container-project-button {
        transform: translate(-50%, -5rem);
        z-index: 2;
        color: black; }
      .projects__container-project-text {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        transition: .4s; }
        .projects__container-project-text h3 {
          font-size: 2.4rem;
          font-weight: bold; }
        .projects__container-project-text h4 {
          font-size: 1.6rem;
          text-transform: uppercase;
          font-weight: 300;
          color: pink; }
      .projects__container-project-button {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        transition: .4s; }
        .projects__container-project-button:hover button {
          background-color: black;
          color: white; }
        .projects__container-project-button button {
          background-color: transparent;
          border: 2px solid black;
          padding: 1rem;
          text-transform: uppercase;
          font-size: 1.6rem; }

.xd {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: transparent;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  width: 40vw;
  z-index: 2;
  background-color: white;
  box-shadow: 0px 1px 13px 2px rgba(0, 0, 0, 0.31); }
  .popup__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; }
    .popup__container-image {
      width: 100%;
      height: 60%;
      border-bottom: .5rem solid black; }
      .popup__container-image img {
        width: 100%;
        height: 100%; }
    .popup__container-items {
      height: 40%;
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: center; }
      .popup__container-items-header {
        height: 40%;
        width: 95%;
        display: flex;
        align-items: center;
        border-bottom: 1px solid black; }
        .popup__container-items-header h1 {
          font-size: 3rem;
          margin-left: 3rem; }
      .popup__container-items-desc {
        height: 50%;
        margin: 0 5rem 0 5rem; }
        .popup__container-items-desc p {
          font-size: 2.2rem;
          text-align: center;
          margin-top: 1.5rem;
          font-weight: 300; }
      .popup__container-items-buttons {
        height: 30%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around; }
        .popup__container-items-buttons-github {
          height: 5rem;
          width: 13rem;
          border: 2px solid black; }
          .popup__container-items-buttons-github a {
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 500;
            color: black;
            text-transform: uppercase;
            letter-spacing: .2rem;
            display: block;
            text-align: center;
            height: 100%;
            line-height: 5rem; }
        .popup__container-items-buttons-live {
          height: 5rem;
          width: 13rem;
          border: 2px solid black; }
          .popup__container-items-buttons-live a {
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 500;
            color: black;
            text-transform: uppercase;
            letter-spacing: .2rem;
            display: block;
            text-align: center;
            height: 100%;
            line-height: 5rem; }
        .popup__container-items-buttons-closeButton {
          position: absolute;
          right: 0;
          bottom: 0;
          padding: .5rem;
          cursor: pointer; }
          .popup__container-items-buttons-closeButton i {
            font-size: 2rem; }

.activePopup {
  display: block; }

@media (min-width: 485px) and (max-width: 1024px) {
  .projects__container {
    max-width: 80vh; }
    .projects__container-menu {
      margin-bottom: 2rem;
      width: 80%; }
      .projects__container-menu-item {
        font-size: 2rem; }
  .popup {
    height: 80vh;
    width: 80%;
    position: fixed; }
    .popup__container-image {
      height: 50%; }
    .popup__container-items {
      height: 50%; } }

@media (max-width: 485px) {
  .projects__container {
    width: 100%; }
    .projects__container-menu {
      margin-bottom: 2rem; }
      .projects__container-menu-item {
        font-size: 1rem; }
    .projects__container-project {
      width: 100%;
      height: 40vh; }
  .popup {
    height: 100vh;
    width: 100%;
    position: fixed; }
    .popup__container-image {
      height: 40%; }
    .popup__container-items {
      height: 60%; }
      .popup__container-items-desc {
        margin: 0 2rem 0 2rem; } }

.footer {
  display: flex;
  width: 100%;
  height: 20vh;
  grid-column: 1/-1;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #EDEDF0; }
  .footer__scroll {
    height: 5rem;
    width: 5rem;
    cursor: pointer;
    text-align: center; }
    .footer__scroll i {
      line-height: 5rem;
      font-size: 5rem; }
    .footer__scroll:hover i {
      font-size: 5.5rem; }
  .footer__email p {
    font-size: 2rem; }
  .footer__media {
    display: flex;
    width: 30rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    .footer__media a {
      color: black;
      font-size: 3rem;
      transition: .4s; }
      .footer__media a:hover {
        color: #374453; }
  .footer__info p {
    font-size: 1.2rem; }
